<div class="blue">


<div class="container">
  <h2>Quotes List</h2>
  <div *ngFor="let q of myQuote" class="panel panel-default">
    <div class="panel-body">{{q.quote}}</div>
    <div class="panel-footer">{{q.author}}</div>
    <div class="panel-body">{{q.vote_score}}</div>
    <div class="buttons">
        <button class="btn-success" (click)="voteUp(q)">VoteUp</button>
        <button class="btn-warning" (click)="voteDown(q)">VoteDown</button>
        <button class="btn-default" (click)="delete(q)">Delete</button>
    </div>
  </div>
</div>


</div>